@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration:none;
}
.container{
    min-height: 100vh;
    width:100%;
    display: flex;
    align-items:center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
p{
    color:black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height:2.5rem;
    font-weight:300;
    letter-spacing: .05rem;
    
}
.section-title{
    font-size:4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align:center;
}
.section-title span{
    color: deepskyblue;
}
/* style for the button */
.cta{
    display:inline-block;
    padding:10px 30px;
    color: DeepSkyblue;
    background-color: transparant;
    border:2px solid DeepSkyblue;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .08rem;
    margin-top:20px;
    transition:.3s ease;
    transition-property: background-color, color;
}
.cta:hover{
    color: white;
    background-color: deepskyblue;
}

.brand h1{
    font-size:3rem;
    text-transform:uppercase;
    color:white;
    text-align: center;
}
.brand h2{
    text-align: center;
}
.brand h1 span{
    color:deepskyblue;
}
/* header section */
#header{
    position: fixed;
    z-index:1000;
    left:0;
    top:0;
    width:100vw;
    height:auto;
}
#header .header{
    min-height:6vh;
    background-color:rgba(31, 30, 30, 0.8)
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:100%;
    width:100%;
    max-width:1300px;
    padding: 0 10px;
    
}

#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color:rgb(31,30,30,1);
    width:100vw;
    height:100vh;
    left:100%;
    top:0;
    display:flex;
    flex-direction:column;
    justify-content: top;
    align-items:left;
    padding-top:100px;
    z-index:1;
    overflow-x:hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active{
    left:60%;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration:none;
    color:white;
    text-transform: uppercase;
    padding:20px;
    display:block;
}
#header .nav-list ul li:hover a{
    color: deepskyblue;
}

#header .hamburger{
    height:60px;
    width:60px;
    display: inline-block;
    border: 3px solid white;
    border-radius:50%;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:100;
    cursor:pointer;
    background-color:deepskyblue;
    transform: scale(.8);
    margin-right:20px;
}
#header .hamburger::after{
    position: absolute;
    content:'';
    height:100%;
    width:100%;
    border-radius:50%;
    border: 3px solid white;
    animation: hamburger_pulse 1s ease infinite;
}

#header .hamburger .bar{
    height: 2px;
    width:30px;
    position:relative;
    background-color: white;
    z-index:-1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    background-color: white;
    transition: .3 ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after{
    top:8px;
}
#header .hamburger .bar::before{
    bottom:8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}


#header .hamburger.active .bar::after{
    top:0;
}
/* end header section */

/* introduction section for car*/

#introduction .introduction{
    flex-direction: column;
    text-align:center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 100px;
}
#introduction .introduction-top{
    margin:0 150px;
}


#introduction .introduction-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    margin-top:50px;
}

#introduction .introduction-item{
    flex-basis:80%;
    color:white;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius:10px;
    background-size: cover;
    margin:10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 400px;
    width: 300px;
}
#introduction .introduction-item::after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    z-index: -1;

}
#introduction .introduction-item:nth-child(1){
    background-image:url(img/car1.jpeg);
}
#introduction .introduction-item:nth-child(2){
    background-image:url(img/car2.jpeg);
}
#introduction .introduction-item:nth-child(3){
    background-image:url(img/car3.jpeg);
}
#introduction .introduction-item:nth-child(4){
    background-image:url(img/car4.jpeg);
}
/* End of introduction section */

/* intro duction Dog section */
#introduction .introduction-item-dog{
    flex-basis:80%;
    color:white;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius:10px;
    background-size: cover;
    margin:10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 400px;
    width: 300px;
}
#introduction .introduction-item-dog::after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    z-index: -1;

}
#introduction .introduction-item-dog:nth-child(1){
    background-image:url(img/dog1.jpeg);
}
#introduction .introduction-item-dog:nth-child(2){
    background-image:url(img/dog3.jpeg);
}
#introduction .introduction-item-dog:nth-child(3){
    background-image:url(img/dog2.jpeg);
}
#introduction .introduction-item-dog:nth-child(4){
    background-image:url(img/dog4.jpeg);
}
/* End dog introduction section */

/* introduction hike section */
#introduction .introduction-item-hike{
    flex-basis:80%;
    color:white;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius:10px;
    background-size: cover;
    margin:10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 400px;
    width: 300px;
}
#introduction .introduction-item-hike::after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    z-index: -1;

}
#introduction .introduction-item-hike:nth-child(1){
    background-image:url(img/hike1.jpeg);
}
#introduction .introduction-item-hike:nth-child(2){
    background-image:url(img/hike2.jpeg);
}
#introduction .introduction-item-hike:nth-child(3){
    background-image:url(img/hike3.jpeg);
}
#introduction .introduction-item-hike:nth-child(4){
    background-image:url(img/hike4.jpeg);
}
/* End hike introduction section */

/* introduction hike section */
#introduction .introduction-item-ski{
    flex-basis:80%;
    color:white;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius:10px;
    background-size: cover;
    margin:10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 400px;
    width: 300px;
}
#introduction .introduction-item-ski::after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    z-index: -1;

}
#introduction .introduction-item-ski:nth-child(1){
    background-image:url(img/ski1.jpeg);
}
#introduction .introduction-item-ski:nth-child(2){
    background-image:url(img/ski2.jpeg);
}
#introduction .introduction-item-ski:nth-child(3){
    background-image:url(img/ski3.jpeg);
}
#introduction .introduction-item-ski:nth-child(4){
    background-image:url(img/ski4.jpeg);
}
/* End ski introduction section */
/* footer section */
#footer {
    background-image: linear-gradient(60deg,#29323c 0%,#485563 100%) ;
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top:50px;
    padding-bottom:10px;
}
#footer h2{
    color:white;
    font-weight:500;
    font-size:1.8rem;
    letter-spacing: .1rem;
    
    margin-top:10px;
    margin-bottom:10px;
}
#footer .social-icon{
    justify-content:center;
    align-items:center;    
    display: flex;
    margin-bottom:30px;
}
#footer .social-item{
    
    height:50px;
    width:50px;
    margin:0 10px;
}
#footer .social-item img{
    filter: grayscale(0.5);
}
#footer .social-item:hover img{
    filter: grayscale(0);
    transition: .3s ease filter;
}
#footer p{
    color:white;
    font-size:1.3rem;
}
/* end of footer section */
/* Key frames */
@keyframes hamburger_pulse {
    0%{
        opacity:1;
        transform: scale(1);
    }
    100%{
        opacity:0;
        transform:scale(1.3);
    }
}
@keyframes text_revel_box {
    50%{
        Width:100%;
        left:0;
    }
    100%{
        width:0%;
        left:100%;
    }
    
}
@keyframes text_revel {
    100%{
        color:white;
    }
    
}
@keyframes text_revel_ray {
    100%{
        color:burlywood;
        font-weight:500;
    }
    
}
/* End Key frames */

/* Media Query for Tablet */
@media only screen and (min-width:768px){
    .cta{
        font-size: 3rem;
        font-weight:800;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size:5rem;
    }
    #header .nav-list ul.active{
        left:75%;
    }
    /* hero */
    #hero h1{
        font-size:5rem;
    }
    /* end hero */

    /* introduction */
    #introduction .introduction-bottom .introduction-item{
        flex-basis: 45%;
        margin: 2.5%;
    }
    #introduction .introduction-bottom .introduction-item-dog{
        flex-basis: 45%;
        margin: 2.5%;
    }
    #introduction .introduction-bottom .introduction-item-hike{
        flex-basis: 45%;
        margin: 2.5%;
    }
    #introduction .introduction-bottom .introduction-item-ski{
        flex-basis: 45%;
        margin: 2.5%;
    }
}
    /* end introduction */

/* End Media Query for Tablet */

/* Media Quesry for dextop */

@media only screen and (min-width:1200px){

    #header .hamburger{
        display: none;
    }
  
    #header .nav-list ul{
        position:initial;
        display:block;
        justify-content: center;
        padding-top:0px;
        align-items:center;
        height:auto;
        width:fit-content;
        background-color: transparent;
    }
    #header .nav-bar{
        padding: 0 0px;
    }
   
    #header .nav-bar ul li{
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size:2rem;
    }
    #header .nav-list ul a:after{
        display: none;
    }
}

/* End Media Quesry for dextop */
